<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Healthy Inc.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="LandingPage.css">
</head>
<body>
  <div class="nav-bar">
   <p id="logo"><a href="LandingPage.html">Stay Healthy</a>
      <img src="https://img.icons8.com/?size=100&id=Vc3fB8XL3Clj&format=png&color=000000"
      width="38px">
    </p>

    <ul>
       <li><a href="#">Appointments</a></li>
       <li><a href="#">Reviews</a></li>
       <div id="btn-type">
         <li><button class="btn-type"><a href="Sign_up/sign-up.html"><p>Sign-up</p></a></button></li>
         <li><button class="btn-type"><a href="Login/login.html"><p>Login</p></a></button></li>
       </div>
     </ul>
  </div>
  
      <section class="hero-section">
        <div>
          <div data-aos="fade-up" class="flex-hero">
          
              <h1 class="text-gradient">
                We take care of<br/>you
              </h1>
                <div class="blob-cont">
                    <div class="blue blob"></div>
                </div>
                <div class="blob-cont">
                    <div class="blue1 blob"></div>
                </div>
              <h4>
                Better Health is a private clinic institute opened in 2020 mid COVID to help people struggling with deeper trouble; 
                whether it’s physical or psychological, we’re here to help. 
              </h4>
              <a href="#services">
                <button class="button">Get Started</button>
              </a>
                
          </div>
  
        </div>
       
      </section>
</body>
</html>