.nav-bar {
    background-color: orange;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    color: whitesmoke;
}

li {
    display: inline-block;
    margin-right: 2px;
    margin-left: 38px;
}

.btn-type {
    border: none;
    border-radius: 10px;
    color: orange;
    padding: 6px 10px 6px 10px;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;

}

.btn-type:hover {
    background-color: plum;
    transform: scale(1.05);
    border-radius: 3px solid red;
    color: whitesmoke;
}

#logo {
    font-weight: bold;
    font-size: 23px;
}