<!DOCTYPE html>
<html>
<head>
    <title>Better Health Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
</head>

<body>
  <div class="nav-bar">
    <p id="logo">Better Health</p>
     <ul>
       <li><a href="#">Appointments</a></li>
       <li><a href="#">Reviews</a></li>
     </ul>
       <div id="btn-type">
         <input value="Sign-up" class="btn-type" id="sign-up" type="button">
         <input value="Login" class="btn-type" id="login" type="button">
       </div>
  </div>
</body>
</html>