<!DOCTYPE html>
<html>
<head>
    <title>Better Health Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign-up.css">
</head>
<body>
    <section class="contact-info">
        <div id="sign-up">
          <h1>Sign Up</h1>
          <p class="sign-up">Already a member? <a href="../Login/login.html"><strong>Login</strong></a></p>
          <form>
                <br><label class="label-1">Role</label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Select role..."
                required><br>
                <br>
                <label class="label-1">Name</label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Enter your name"
                required><br>
                <br><label class="label-1">Phone</label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Enter your phone number"
                required><br>
                <br><label class="label-1">Email </label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Enter your email"
                required><br>
                <br>
                <label class="label-2">Password </label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Enter your password"
                required><br>
           </form>
        </div>

     <div class="btn-select">
        <br><button type="button" class="btn">Submit</button><br>
        <br>
        <button type="button" class="btn">Reset</button>
     </div>
     <p class="login"><a href="#">Forgot Password?</a></p>
    </section>
</body>
</html>