<!DOCTYPE html>
<html>
<head>
    <title>Better Health Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <section class="contact-info">
        <div id="login">
          <h1>Login</h1>
          <p class="sign-up">Are you a new member? <a href="../Sign_up/sign-up.html"><strong>Sign Up Here</strong></a></p>
          <form>
                <br><label class="label-1">Email </label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Enter your email"
                required><br>
                <br>
                <label class="label-2">Password </label><br>
                <input type="text" class="personal-info" name="personal-info" placeholder="Enter your password"
                required><br>
           </form>
        </div>

     <div class="btn-select">
        <br><button type="button" class="btn">Login</button><br>
        <br>
        <button type="button" class="btn">Reset</button>
     </div>
     <p class="login"><a href="#">Forgot Password?</a></p>
    </section>
</body>
</html>
